<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>
        {% if user.is_authenticated %}
        <!-- Step 3: Add a link to add_review view -->
        <a href="{% url 'djangoapp:add_review' %}">Add Review</a>
        {% endif %}
        <h1>Dealer Reviews</h1>

        <div class="card-columns">
            {% for review in reviews %}
                <div class="card">
                    <!-- Step 5: Add an <img> for sentiment visualization -->
                    <img class="card-img-top" src="{{ MEDIA_URL }}/emoji/{{ review.sentiment }}.png" alt="Sentiment Emoji">
                    <div class="card-body">
                        <!-- Step 6: Add card-title text labels -->
                        <h5 class="card-title">{{ review.car_make }} {{ review.car_model }} {{ review.car_year }}</h5>
                        <p class="card-text">{{ review.review }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- <ul>
            {% for review in reviews %}
                <li>
                    <strong>Name:</strong> {{ review.name }}<br>
                    <strong>Dealership:</strong> {{ review.dealership }}<br>
                    <strong>Purchase:</strong> {% if review.purchase %}Yes{% else %}No{% endif %}<br>
                    <strong>Review:</strong> {{ review.review }}<br>
                    <strong>Purchase Date:</strong> {{ review.purchase_date }}<br>
                    <strong>Car Make:</strong> {{ review.car_make }}<br>
                    <strong>Car Model:</strong> {{ review.car_model }}<br>
                    <strong>Car Year:</strong> {{ review.car_year }}<br>
                    <strong>Sentiment:</strong> {{ review.sentiment }}<br>
                    <strong>ID:</strong> {{ review.id }}<br>
                    <hr>
                </li>
            {% endfor %}
        </ul> -->
    </body>

</html>